#main_div{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn{
  font-family: 'Heebo', sans-serif;
  background-color: rgb(230, 151, 5);
  color: white;
  border-radius: 1rem;
  border: none;
  padding : 0.5rem;
  transition: 0.5s;
  cursor: pointer;
}#btn:hover{
    background-color: rgb(240, 156, 0);
    transform: scale(1.05);
}